<!DOCTYPE html>
<html>
<head>
    <title>Furnish.AI</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Image Handling</h1>
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </p>
            <form method="post" action="/" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="btn btn-info">
                </p>
            </form>

            {% if filename %}
            <div>
                <h2>Uploaded Image:</h2>
                <img src="{{ url_for('static', filename='uploads/' + filename) }}" style="max-width: 500px; max-height: 500px;">
                {% if pred_class %}
                <h2>Predicted Class:</h2>
                <ul>
                {% for i in pred_class %}
                <li>{{ i }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
